name: Response Time CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  actions: write
  pages: write

jobs:
  response-time:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.38.2
        with:
          token: ${{ secrets.GH_PAT }}
          command: "response-time"
